<div class="container" >  
  <div style="background-color: #cccccc;">  
  <div class="card card-primary" style="height:100px;">
  <div class="card-header" align="center">
  <h3 style="background-color:rgb(72, 73, 92); color:darkgoldenrod; padding:10px;">
  <i > Maneger Main   </i></h3>
  </div>
  <div class="card-block" style="background-color:rgb(237, 237, 238); color:rgb(26, 54, 78); padding:10px;"> 
  <div class="row container" padding="" >
  <button [routerLink]="['/ordereditor']" class="btn btn-success">Edit Orders </button>  
  <div class="space_lg">&nbsp;</div>
  <button [routerLink]="['/careditor']"   class="btn btn-success">Edit Cars     </button> 
  <div class="space_lg">&nbsp;</div>
  <button [routerLink]="['/usereditor']"  class="btn btn-success">Edit Users    </button>
</div>